{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0 justify-content-left">
            <div class="col-md-6 masthead-text">
                <h1 class="review-title">{{ review.title }}</h1>
                <p class="review-subtitle">{{ review.author }} | {{ review.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-auto masthead-image">
                {% if "placeholder" in review.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" alt="placeholder">
                {% else %}
                <img src=" {{ review.featured_image.url }}" alt="{{ review.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top bg-transparent">
            <div class="card-body">
                <p class="card-text">
                    {{ review.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}