{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Review title goes in these h1 tags -->
                <h1 class="review-title">{{ review.title }}</h1>
                <!-- Review author goes before the | the review's created date goes after -->
                <p class="review-subtitle">{{ review.author }} | {{ review.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top bg-transparent">
            <div class="card-body">
                <!-- The review content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ review.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}