{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="card mb-3 bg-transparent">
        <div class="row g-0">
            <div class="col d-none d-sm-block">
                {% if "placeholder" in review.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img src=" {{ review.featured_image_1.url }} " alt="{{ review.title }}">
                {% endif %}
            </div>
            <div class="col d-none d-lg-block">
                {% if "placeholder" in review.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img src=" {{ review.featured_image_2.url }} " alt="{{ review.title }}">
                {% endif %}
            </div>
            <div class="col d-none d-xl-block">
                {% if "placeholder" in review.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img src=" {{ review.featured_image_3.url }} " alt="{{ review.title }}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h1 class="review-title">{{ review.title }}</h1>
                    <p class="review-subtitle">{{ review.author }} | {{ review.created_on }}</p>
                    <hr>
                    <br>
                    <p>Visited on: {{ review.visited_on }}</p>
                    <p>Rating: {{ review.get_rating_display }}</p>
                    <p>Price Range: {{ review.get_price_display }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 bg-transparent">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <p class="card-text">
                        {{ review.content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}