{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/me.jpg' %}" width="75%">
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->
    
          <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's collaborate!</h2>
            <p>If you are a restaurant owner, and you would like me to review your restaurant,
                or you wish to collaborate in another way, I would love to hear from you.  Fill out this
                form and I will come back to you as soon as I can!</p>
                <form method="post">
                    {{ collaborate_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-secondary"
                      type="submit">Submit</button>
                  </form>
        </div>
    </div>
</div>
{% endblock content %}