/* General Styles */
body {
    min-height: 100vh;
    background-color: rgb(225, 225, 225);
    padding-bottom: 60px;
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Reenie Beanie", cursive;
    font-size: 250%;
    font-weight: 900;
    color: #8f3c6a;
}

.navbar-brand {
    font-family: "Glass Antiqua", cursive;
    font-style: normal;
    font-size: 190%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.review-link,
.food-link,
.cocktail-link {
    text-decoration:none;
    color: #8f3c6a;
}

.page-link {
    color: #ffffff;
    background-color: #8f3c6a;
    border: none;
    border-radius: 5%;
}

.review-link:hover,
.food-link:hover,
.cocktail-link:hover,
.page-link:hover {
    color: #6e3052;
}

.page-link:hover {
    color: #ffffff;
    background-color: #6e3052;
}

.btn-edit, #submitButton, #closeButton {
    background-color: #8f3c6a;
}

.btn-edit:hover, 
#submitButton:hover, 
#closeButton:hover {
    background-color:#6e3052;
}

/* Footer */
.footer {
    height: 60px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: rgb(255, 255, 255);
}